<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td align="center"><%= @landmark.name %></td>
    <td align="center"><%= @landmark.year_completed %></td>
  </tr>
<table>
