<h1>Figures List</h1>

<table>
  <th>Name</th>
  <tr>
    <% @figures.each do |figure| %>
     <td align="center"><a href="/figures/<%= figure.id %>"><%= figure.name %></a>
     <ul>
       <% figure.titles.each do |title| %>
       <li><%= title.name %></li>
       <% end %>
     </ul>
     </td>
  </tr>
  <% end %>
</table>
<br>
<a class="button" href="/">Home</a>
